<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
    let arr=''
	console.log(arr);
    if(arr){
    	alert('1')
    }else {
		console.log(1);
	}
	console.log(arr[0]);
	var oFuncs = function(){
		return  {
			fAdd : function(iA,iB){
				return iA+iB;
			},
			fMul:function(iA,iB){
				return iA-iB;
			}
		}
	}
	console.log(oFuncs.fAdd(1,2));
	//1.模拟真实场景 2.业务逻辑操作 3.流程图 4.实体判断条件 5.各种情况 6.对接文档说明 7.判断唯一
    //1.项目架构规划 2.组件的编写 3.数据渲染展示 4.抛出异常解决
    //1.完完全全属于自己,
</script>
</body>
</html>
